@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-canvas text-ink font-sans antialiased;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #DDD9CF;
  border-radius: 999px;
}
